.page {
  background-color: green;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  display: flex;
}

.playground {
  position: relative;

  width:500px;
  height: 750px;

  border: 1px solid #ccc;

  .card {
    position: absolute;
    transition: all .6s;
    color: rgb(208, 68, 68);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  
    &.isBlocked {
      opacity: .3;
    }
  }

  .empty-card {
    position: absolute;
    transition: all .3s;
  }
  
  .slot {
    position: absolute;
    // border: 1px solid red;
    background: rgba(0, 0, 0, 0.503);
    left: 0;
  
    width: 140px;
    height: 28px;
  }
  
}




.editor {
  margin-right: 20px;
  width: 250px;
  height: 300px;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  .editor-row {
    display: flex;

    .editor-block {
      width: 10px;
      height: 10px;
      border: 1px solid #ccc;
      box-sizing: border-box;

      &.selected {
        background-color: red;
      }
    }
  }
 
}

.actions {
  margin-left: 20px;
}