.page {
  background-color: green;
  width: 100vw;
  height: 100vh;
  padding: 20px;
}
.playground {
  position: relative;

  width:200px;
  height: 650px;


  margin: 20px auto;
}

.card {
  position: absolute;
  transition: all .6s;
  color: rgb(208, 68, 68);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;

  &.isBlocked {
    opacity: .3;
  }
}

.empty-card {
  position: absolute;
  transition: all .3s;
}

.slot {
  position: absolute;
  // border: 1px solid red;
  background: rgba(0, 0, 0, 0.503);
  left: 0;

  width: 280px;
  height: 56px;
}

.btn {
  position: absolute;

  top: 600px
}

.btn1 {
  position: absolute;

  top:660px
}